/* Override some defaults */
html, body {
  background-color: #fff;
}
.navbar {
  margin-bottom: 0;
}
.navbar .container{ 
  width:940px;
}
.container > footer {
  margin-top: 100px;
}
.container > footer p {
  text-align: center; /* center align it with the container */
}

/* The white background content wrapper */
.content {
  background-color: #fff;
  padding: 20px;
  margin: 0 -20px; /* negative indent the amount of the padding to maintain the grid system */
}

p {
  margin-top: 3ex;
  text-align: justify;
}

h2, h3, h4, h5 {
  margin-top: 6ex;
}

pre {
  width: 700px;
  line-height: 1.1;
  font-family: Consolas,Monaco,Lucida Console,Liberation Mono,DejaVu Sans Mono,Bitstream Vera Sans Mono,Courier New;
  white-space: pre;
  overflow: auto;
}

code {
  font-size: 120%;
}

/* Page header tweaks */
.page-header {
  background-color: #f5f5f5;
  padding: 20px 20px 10px;
  margin: -20px -20px 20px;
}

/* posts index */
.post > h3.title {
  position:relative;
}
.post > h3.title span.date {
  float: right;
  position: relative;
  font-style: italic; 
  font-size:80%;
  color:#AAA;
}
.post > .description {
  font-style: italic;
}

/* tag_box ======================================================== */

.tag_box {
  list-style:none;
  margin:0;
  padding:5px 0 ;
  overflow:hidden;
}
.tag_box li {
  line-height:28px;
}
.tag_box.inline li {
  float:left;
}
.tag_box a {
  padding: 3px 6px;
  margin: 2px;
  background: #eee;
  color:#005F6B;
  border-radius: 3px;
  text-decoration:none;
}
.tag_box a span{
  vertical-align:super;
  font-size:0.8em;
}
.tag_box a.active {
  background:#57A957;
  border:1px solid #4C964D;
  color:#FFF;
}
